body{
    margin: 0;
    padding: 0;
    line-height: 1.42857143;
}

#logo{
    width: 72px;
    height: 72px;
    background-color: #B2CDC5;
    border-radius: 50px;
}

/* Header */
.container{
    width: 80%;
    overflow: hidden;
    margin: auto;
}

header{
    background: #E0EBE8;
    padding-top: 30px;
}

header #logo{
    float: left;
}

header ul{
    margin: 0;
    padding: 0;
}
header li{
    float: left;
    display: inline;
    text-decoration-style: none;
    font-size: 25px;
    font-weight: bold;
    padding: 0 20px 0 20px
    ;
}

header nav{
    float: right;
}

header h1{
    margin: 0;
}
header a{
    text-decoration: none;
    color: #45B29A;
}

header a:hover{
    color: rgb(95, 88, 88);
}

/* I'm sean */

#sean{
    margin: auto;
    text-align: center;
    background-color: #E0EBE8;
    padding-top: 60px;
}

#sean p{
    font-size: 180%;
    color: #45B29A;
}

#designer{
    text-align: center;
}

#designer img{
    width: 150px;
    height: 150px;
}

#designer h1{
    color: #45B29A;
}

#designer p{
    color: #E0EBE8;
    font-size: 1.5em;
    width: 500px;
    margin-left: 300px;
}

/* what i can do */

#merge img{
    width: 150px;
    height: 150px;
}

.what{
    color: #1E836C;
    text-align: center;
    font-weight: 400;
    font-size: 3.8em;
}

.box{
    display: flex;
    justify-content: space-evenly;
}

.img{
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.mash{
    margin-left: 100px;
    text-align: left;
}

.mash p{
    width: 400px;
    font-size: 1.3em;

}

#merge img{
    margin: 0 50px;
}

.develop h1{
    font-weight: 400;
    font-weight: bold;
}

.develop p{
    width: 400px;
    font-size: 1.3em;
}

.wrap{
    display: flex;
    margin-left: 100px;
}

.kid{
    display: flex;
    align-items: center;
}

.kid #logo{
    margin-left: 50px;
}

.kid img{
    width: 150px;
    height: 150px;
    margin-left: 50px;
}

/* I Can Help */

.currently{
    font-size: 2em;
    color: #45B29A;
    text-align: center;
}

#can p{
    margin-left: 200px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 300;
    width: 700px;
}

#can button{
    background-color: #3EA08A;
    padding: .75em 2em .75em 3.5em;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    color: #1B7F69;
    text-transform: uppercase;
    margin-left: 450px;
    margin-bottom: 200px;
}

/* footer */

#footer{
    background-color: #C5DED7;
}

#footer ul{
    text-align: center;
    margin: 20px 0;
    padding: 0;
}

#footer li{
    padding: 0 20px;
    display: inline;
    text-decoration-style: none;
    font-size: 20px;
}

#footer ul li a {
    text-decoration: none;
    color: #1B7F69;
}

#footer a:hover{
    color: black;
}

#footer p{
    text-align: center;
    font-size: 18px;
    color: #1B7F69;
}

#footer p a{
    color: #1B7F69;
}